@{
    ViewData["Title"] = "Listagem de Contatos";
}
<h1>Listagem de Contatos</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">E-mail</th>
      <th scope="col">Celular</th>
      

    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>otto@teste.com</td>
      <td>11 9134-56789</td>
      <td>
          <div class="btn-group" role="group" aria-label="Basic outlined example">
              <button type="button" class="btn btn-outline-secondary">Editar</button>
              <button type="button" class="btn btn-outline-secondary">Apagar</button>
           </div>
      </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>jacob@teste.com</td>
      <td>11 9134-56789</td>
      <td>
          <div class="btn-group" role="group" aria-label="Basic outlined example">
              <button type="button" class="btn btn-outline-secondary">Editar</button>
              <button type="button" class="btn btn-outline-secondary">Apagar</button>
           </div>
      </td>

    </tr>
    <tr>
    <tr>
      <th scope="row">3</th>
      <td>Maria</td>
      <td>maria@teste.com</td>
      <td>11 9134-56789</td>
      <td>
          <div class="btn-group" role="group" aria-label="Basic outlined example">
              <button type="button" class="btn btn-outline-secondary">Editar</button>
              <button type="button" class="btn btn-outline-secondary">Apagar</button>
           </div>
      </td>
    </tr>
  </tbody>
</table>